
      <div class="row">
        <h style="font-size:23px; padding-left:35px">Adres odbioru:</h><br><br><table class="table table-sm table-borderless">
          
          

          
              <tbody><tr>
                <th>Kontakt:</th>
                  <td>Michał  Prochowski</td>
              </tr>
            
        </tbody></table>
      </div>
      <hr>
      <div class="row" id="address" data-workshopaddressdelivery-url="/ajax/load_workshopAddressDelivery/"><h style="font-size:23px; padding-left:35px">Adres dostawy:</h>
<br><br>
  <table class="table table-sm table-borderless">
    <tbody>
      
      <tr>
        <th>Nazwa warsztatu:</th>
          <td>Zakład Mechaniki żeżnik</td>
      </tr>
      <tr>
        <th>Ulica:</th>
          <td>rzeżnicka 2</td>
      </tr>
      <tr>
        <th>Miasto:</th>
          <td>Radom</td>
      </tr>
      <tr>
        <th>Postal:</th>
          <td>05-677</td>
      </tr>
      <tr>
        <th>Kontakt:</th>
          <td> Sebowski</td>
      </tr>
      <tr>
        <th>Phone:</th>
          <td>5555</td>
      </tr>
      <tr>
        <th>e-mail:</th>
          <td>ema@ema.pl</td>
      </tr>
      
    </tbody>
</table>
</div>
    