
        <div class="row">
          <h style="font-size:23px; padding-left:35px">Adres odbioru:</h><br><br><table class="table table-sm table-borderless">
              
              

            
              <tbody><tr>
                <th>Kontakt:</th>
                  <td>Michał  Prochowski</td>
              </tr>
            
          </tbody></table>
          <br>
        </div>
        <hr>
        <div class="row" id="salesPersonsDistributorContact">

  <h style="font-size:23px; padding-left:35px">Adres dostawy:</h>
  <br><br>
    <table class="table table-sm table-borderless">
      <tbody>
        
        <tr>
          <th>Filia:</th>
            <td value="">Inter Cars - Łódź</td>
        </tr>
        <tr>
          <th>Kontakt:</th>
            <td value="">Robert Małolepszy</td>
        </tr>
        <tr>
          <th>Telefon:</th>
            <td value="">434134434</td>
        </tr>
        <tr>
          <th>E-mail:</th>
            <td value="">r.malolepszy@intercars.eu</td>
        </tr>
        
      </tbody>
    </table>

</div>
        <div class="row" style="margin-top:-14px" id="address" data-subsidiaryaddressdelivery-url="/ajax/load-subsidiaryAddressDelivery/">

  <table class="table table-sm table-borderless">
    <tbody>
      
      <tr>
        <th>Ulica:</th>
          <td value="">Warszawaska</td>
      </tr>
      <tr>
        <th>Miasto:</th>
          <td value="">Łódź</td>
      </tr>
      <tr>
        <th>Kod pocztowy:</th>
          <td value="">04-321</td>
      </tr>
      
      </tbody>
  </table>

</div>
      